html {
	box-sizing: border-box;
}

*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html {
	height: 100vh;
}

body {
	height: 100%;
	min-width: 320px;
	font-family: "Poppins", serif;
	color: #fbfcfc;
	background-color: #4c4646;
}

.wrapper {
	width: 100%;
	min-height: 100%;
	display: flex;
	flex-direction: column;
	overflow: hidden;
}

.header,
.footer {
	min-height: 5vh;
	background-color: #343131;
}
@media (max-width: 768px) {
	.header {
		min-height: 3.125rem;
	}
	.footer {
		min-height: 2.5rem;
	}
}

.underline {
	width: 100%;
	height: 2px;
	background-color: #ff7017;
}
.underline--header {
	box-shadow: 0 -2px 6px 0px rgba(255, 112, 23, 0.6);
}
.underline--footer {
	box-shadow: 0 2px 6px 0px rgba(255, 112, 23, 0.6);
}

.header {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	box-shadow: 0 4px 12px 2px rgba(0, 0, 0, 0.5);
}

.header-container {
	padding: 1.5% 2%;
	text-align: center;
}
.header-container h1 {
	font-size: 2vw;
	font-weight: 500;
	letter-spacing: calc(2.5vw / 30);
	text-shadow: 3px 0 5px rgba(0, 0, 0, 0.5);
}
@media (max-width: 768px) {
	.header-container {
		padding: 0.75rem 0.9375rem;
	}
	.header-container h1 {
		font-size: 1.25rem;
		letter-spacing: 1.1px;
	}
}
@media (max-width: 540px) {
	.header-container {
		padding: 1.25rem 0.625rem 1.25rem 0.625rem;
	}
	.header-container h1 {
		font-size: 1.375rem;
		text-align: center;
		letter-spacing: 0.9px;
	}
}

.footer {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	box-shadow: 0 -4px 12px 2px rgba(0, 0, 0, 0.5);
}

.footer-container {
	padding: 1% 1.5% 1.5% 1.5%;
	text-align: center;
}
@media (max-width: 768px) {
	.footer-container {
		padding: 0.5rem 0.75rem;
	}
}

.footer-container a {
	font-size: 1.1vw;
	color: #fbfcfc;
	text-decoration: none;
	text-align: center;
	text-shadow: 0 0 6px rgba(255, 255, 255, 0.4);
}
@media (max-width: 768px) {
	.footer-container a {
		font-size: 0.75rem;
	}
}
@media (max-width: 540px) {
	.footer-container a {
		font-size: 0.875rem;
	}
}
/* ==================================== */
main {
	flex: 1 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow-y: auto;
}

.container {
	max-width: 65%;
}
@media (max-width: 768px) {
	.container {
		max-width: 70%;
	}
}
@media (max-width: 540px) {
	.container {
		max-width: 80%;
	}
}

.slider {
	position: relative;
	width: 100%;
	height: 45vh;
	margin-bottom: 5%;
	border: 1px solid #262626;
	border-radius: 0.25rem;
	background-color: #343131;
	overflow: hidden;
	-webkit-box-shadow: 0 15px 10px -5px rgba(0, 0, 0, 0.5),
		0 10px 20px 4px rgba(0, 0, 0, 0.4);
	-moz-box-shadow: 0 15px 10px -5px rgba(0, 0, 0, 0.5),
		0 10px 20px 4px rgba(0, 0, 0, 0.4);
	-o-box-shadow: 0 15px 10px -5px rgba(0, 0, 0, 0.5),
		0 10px 20px 4px rgba(0, 0, 0, 0.4);
	box-shadow: 0 10px 12px -5px rgba(0, 0, 0, 0.5),
		0 8px 16px 2px rgba(0, 0, 0, 0.4);
}
@media (max-width: 768px) {
	.slider {
		height: 16rem;
	}
}
@media (max-width: 540px) {
	.slider {
		height: 12.5rem;
	}
}

.slider-track {
	display: flex;
	height: 100%;
	width: calc(100% * 5);
}

.slides {
	height: inherit;
	width: inherit;
	order: 1;
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	opacity: 0;
	-webkit-transition: opacity ease-in-out 1s;
	-moz-transition: opacity ease-in-out 1s;
	-o-transition: opacity ease-in-out 1s;
	transition: opacity ease-in-out 1s;
}
/* @media (max-width: 540px) {
	.slides {
		background-size: cover;
	}
} */
.slide1 {
	background-image: url("img/1.jpg");
}
.slide2 {
	background-image: url("img/2.jpg");
}
.slide3 {
	background-image: url("img/3.jpg");
}
.slide4 {
	background-image: url("img/4.jpg");
}
.slide5 {
	background-image: url("img/5.jpg");
}

.container .slider-panel {
	width: 100%;
	height: 12vh;
	padding: 2%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #343131;
	border-radius: 0.25rem;
	-webkit-box-shadow: 0 5px 15px 2px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0 5px 15px 2px rgba(0, 0, 0, 0.5);
	-o-box-shadow: 0 5px 15px 2px rgba(0, 0, 0, 0.5);
	box-shadow: 0 5px 15px 2px rgba(0, 0, 0, 0.5);
}
@media (max-width: 768px) {
	.container .slider-panel {
		height: 5.625rem;
		padding: 0.625rem 1rem;
	}
}
@media (max-width: 540px) {
	.container .slider-panel {
		height: auto;
		padding: 0.625rem 0.75rem;
		flex-direction: column-reverse;
	}
}

.container > input {
	display: none;
}

.slider-panel .pic-captions {
	flex: 0 1 70%;
	position: relative;
	height: 100%;
	overflow: hidden;
}
@media (max-width: 540px) {
	.slider-panel .pic-captions {
		margin: 1.25rem 0 0 0;
	}
}

.captions-track {
	display: flex;
	height: 100%;
	width: calc(100% * 5);
}

.caption {
	height: inherit;
	width: inherit;
	font-size: 1vw;
	font-weight: 300;
	letter-spacing: 1px;
	order: 1;
	opacity: 0;
	overflow-y: auto;
	-webkit-transition: opacity ease-in-out 0.8s;
	-moz-transition: opacity ease-in-out 0.8s;
	-o-transition: opacity ease-in-out 0.8s;
	transition: opacity ease-in-out 0.8s;
}
@media (max-width: 768px) {
	.caption {
		font-size: 0.8125rem;
	}
}
@media (max-width: 540px) {
	.caption {
		letter-spacing: 0.8px;
	}
	.caption p {
		text-align: center;
	}
}

.caption p span {
	color: #ff8030;
}

.slider-panel .controls {
	margin-left: 1rem;
	flex: 1 0 auto;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.controls label {
	padding: 0.5rem;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}
/* .controls label:not(:last-child) {
	margin-right: 7%;
}
@media (max-width: 768px) {
	.controls label {
		height: 0.875rem;
		width: 0.875rem;
		border: 1px solid #ff7017;
	}
	.controls label:not(:last-child) {
		margin-right: 0.625rem;
	}
}
@media (max-width: 540px) {
	.controls label:not(:last-child) {
		margin-right: 1.25rem;
	}
} */

.controls label .indicator {
	display: inline-block;
	height: 1.4vw;
	width: 1.4vw;
	border-radius: 50%;
	border: 2px solid #ff7017;
	background-color: #ff7017;
	cursor: pointer;
	-webkit-transition: background ease-in-out 0.5s,
		border-color ease-in-out 0.5s;
	-moz-transition: background ease-in-out 0.5s, border-color ease-in-out 0.5s;
	-o-transition: background ease-in-out 0.5s, border-color ease-in-out 0.5s;
	transition: background ease-in-out 0.5s, border-color ease-in-out 0.5s;
}

.controls label .indicator:hover {
	background-color: #fbfcfc;
	border-color: #fbfcfc;
	transition: 0.4s ease-out;
}

.controls label .indicator:active {
	background-color: #cdcbcb;
	border-color: #cdcbcb;
}

#slide1:checked ~ .slider-panel label:nth-of-type(1) .indicator,
#slide2:checked ~ .slider-panel label:nth-of-type(2) .indicator,
#slide3:checked ~ .slider-panel label:nth-of-type(3) .indicator,
#slide4:checked ~ .slider-panel label:nth-of-type(4) .indicator,
#slide5:checked ~ .slider-panel label:nth-of-type(5) .indicator {
	background: none;
	box-shadow: 0 0 6px 0px rgba(255, 112, 23, 0.6);
}

#slide1:checked ~ .slider-panel label:nth-of-type(1) .indicator:hover,
#slide2:checked ~ .slider-panel label:nth-of-type(2) .indicator:hover,
#slide3:checked ~ .slider-panel label:nth-of-type(3) .indicator:hover,
#slide4:checked ~ .slider-panel label:nth-of-type(4) .indicator:hover,
#slide5:checked ~ .slider-panel label:nth-of-type(5) .indicator:hover {
	box-shadow: 0 0 6px 0px rgba(255, 255, 255, 0.6);
}

#slide1:checked ~ .slider .slider-track > .slide1,
#slide2:checked ~ .slider .slider-track > .slide2,
#slide3:checked ~ .slider .slider-track > .slide3,
#slide4:checked ~ .slider .slider-track > .slide4,
#slide5:checked ~ .slider .slider-track > .slide5 {
	order: -1;
	opacity: 1;
}

#slide1:checked ~ .slider-panel .pic-captions .captions-track > #caption1,
#slide2:checked ~ .slider-panel .pic-captions .captions-track > #caption2,
#slide3:checked ~ .slider-panel .pic-captions .captions-track > #caption3,
#slide4:checked ~ .slider-panel .pic-captions .captions-track > #caption4,
#slide5:checked ~ .slider-panel .pic-captions .captions-track > #caption5 {
	order: -1;
	opacity: 1;
}
