html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  height: 100vh;
  font-size: 24px;
  font-family: 'Roboto Slab', serif;
  color: #FFFFFF;
  background-color: #283747;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  overflow: hidden;
}

header,
footer {
  min-height: 150px;
  background-color: #17202A;
}

main {
  flex: 1 1 auto;
}

.container {
  max-width: 1440px;
  height: 800px;
  margin: 0 auto;
  border: 2px solid #FFFFFF;
}

.container > input {
	display: none;
}

.slider {
  position: relative;
	height: 500px;
	width: 1000px;
  margin: 50px auto;

  border-radius: 16px;
  background-color: #ddd;
  overflow: hidden;
	-webkit-box-shadow: 0 0 20px rgba(0, 0, 0, .5);
	-moz-box-shadow: 0 0 20px rgba(0, 0, 0, .5);
	-o-box-shadow: 0 0 20px rgba(0, 0, 0, .5);
	box-shadow: 0 0 20px rgba(0, 0, 0, .5);
}

.slides {
  /* position: absolute; */
	height: inherit;
	width: inherit;

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.slide1 { background-image: url(http://habrastorage.org/files/3f2/628/bd5/3f2628bd58c8452db516195cb0c9bfc9.jpg); }
.slide2 { background-image: url(http://habrastorage.org/files/3e1/95d/c7f/3e195dc7f5a64469807f49a14f97ba0e.jpg); }
.slide3 { background-image: url(http://habrastorage.org/files/663/6b1/d4f/6636b1d4f8e643d29eab8c192fc1cea3.jpg); }
.slide4 { background-image: url(http://habrastorage.org/files/e59/424/c04/e59424c046be4dab897d84ab015c87ea.jpg); }
.slide5 { background-image: url(http://habrastorage.org/files/53c/ff6/c1c/53cff6c1caf842368c70b8ef892d8402.jpg); }

.container .slider-panel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  width: 100%;

  background-color: #444444;
}

.slider-panel .pic-captions {
  /* width: 70%; */
  /* height: 100px; */
  flex-basis: 70%;
  border: 1px solid green;
}
.slider-panel .controls {
	/* width: 30%; */
  /* height: 100%; */
  border: 1px solid blue;
  cursor: pointer;
}

.slider-panel label {
  display: inline-block;
  height: 20px;
  width: 20px;

  border-radius: 50%;
  border: 2px solid #5DADE2;
  background-color: #5DADE2;
  cursor: pointer;

  -webkit-transition:
    background ease-in-out 0.5s,
    border-color ease-in-out 0.5s;
  -moz-transition:
    background ease-in-out 0.5s,
    border-color ease-in-out 0.5s;
  -o-transition:
    background ease-in-out 0.5s,
    border-color ease-in-out 0.5s;
  transition:
    background ease-in-out 0.5s,
    border-color ease-in-out 0.5s;
}
.slider-panel label:not(:last-child) {
  margin-right: 10px;
}
.slider-panel label:hover,
#slide1:checked ~ .controls label:nth-of-type(1),
#slide2:checked ~ .controls label:nth-of-type(2),
#slide3:checked ~ .controls label:nth-of-type(3),
#slide4:checked ~ .controls label:nth-of-type(4),
#slide5:checked ~ .controls label:nth-of-type(5) {
	background: #FBFCFC;
  border-color: #FBFCFC;
}
