html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  height: 100vh;
  font-size: 24px;
  font-family: 'Roboto Slab', serif;
  color: #FBFCFC;
  background-color: #E5E7E9;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  overflow: hidden;
}

header,
footer {
  min-height: 100px;
  /* background-color: #17202A; */
  background-color: #1B4F72;
}

.header-container {
  max-width: 1400px;
  margin: 50px auto;

  text-align: center;
}
.header-container h1 {
  /* font-size:  */
}

main {
  flex: 1 1 auto;
}

.container {
  max-width: 1400px;
  height: 800px;
  margin: 0 auto;
}

.slider {
  position: relative;
	height: 550px;
	width: 1100px;
  margin: 50px auto;

  border: 2px solid rgba(0, 0, 0, 0.6);
  border-radius: 20px;
  background-color: #F4F6F7;
  overflow: hidden;
	-webkit-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5);
	-o-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5);
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5);
}

.slider-track {
  display: flex;
  height: 100%;
  width: calc(100% * 5);
}

.slides {
	height: inherit;
	width: inherit;
  order: 1;

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  opacity: 0;

  -webkit-transition: opacity ease-in-out 1s;
  -moz-transition: opacity ease-in-out 1s;
  -o-transition: opacity ease-in-out 1s;
  transition: opacity ease-in-out 1s;
}
.slide1 {
  background-image: url("img/1.jpg");
}
.slide2 {
  background-image: url("img/2.jpg");
}
.slide3 {
  background-image: url("img/3.jpg");
}
.slide4 {
  background-image: url("img/4.jpg");
}
.slide5 {
  background-image: url("img/5.jpg");
}

.container .slider-panel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 150px;
  width: 95%;
  padding: 10px;
  margin: 0 2.5%;

  background-color: #1B4F72;
  border-radius: 20px;
  -webkit-box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.5);
  -o-box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.5);
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.5);
}

.container > input {
	display: none;
}

.slider-panel .pic-captions {
  position: relative;
  height: 100%;
  width: 100%;
  flex-basis: 70%;
  overflow: hidden;
}
.captions-track {
  display: flex;
  height: 100%;
  width: calc(100% * 5);
}
.caption {
  height: inherit;
  width: inherit;
  order: 1;

  opacity: 0;
  -webkit-transition: opacity ease-in-out 0.8s;
  -moz-transition: opacity ease-in-out 0.8s;
  -o-transition: opacity ease-in-out 0.8s;
  transition: opacity ease-in-out 0.8s;
}

.slider-panel .controls {
  cursor: pointer;
}

.slider-panel label {
  display: inline-block;
  height: 20px;
  width: 20px;

  border-radius: 50%;
  border: 2px solid #85C1E9;
  background-color: #85C1E9;
  cursor: pointer;

  -webkit-transition:
    background ease-in-out 0.5s,
    border-color ease-in-out 0.5s;
  -moz-transition:
    background ease-in-out 0.5s,
    border-color ease-in-out 0.5s;
  -o-transition:
    background ease-in-out 0.5s,
    border-color ease-in-out 0.5s;
  transition:
    background ease-in-out 0.5s,
    border-color ease-in-out 0.5s;
}
.slider-panel label:not(:last-child) {
  margin-right: 15px;
}

.slider-panel label:hover {
  background-color: #FBFCFC;
  border-color: #FBFCFC;
}
#slide1:checked ~ .slider-panel label:nth-of-type(1),
#slide2:checked ~ .slider-panel label:nth-of-type(2),
#slide3:checked ~ .slider-panel label:nth-of-type(3),
#slide4:checked ~ .slider-panel label:nth-of-type(4),
#slide5:checked ~ .slider-panel label:nth-of-type(5) {
	background: none;
}

#slide1:checked ~ .slider .slider-track > .slide1,
#slide2:checked ~ .slider .slider-track > .slide2,
#slide3:checked ~ .slider .slider-track > .slide3,
#slide4:checked ~ .slider .slider-track > .slide4,
#slide5:checked ~ .slider .slider-track > .slide5 {
  order: -1;
	opacity: 1;
}

#slide1:checked ~ .slider-panel .pic-captions .captions-track > #caption1,
#slide2:checked ~ .slider-panel .pic-captions .captions-track > #caption2,
#slide3:checked ~ .slider-panel .pic-captions .captions-track > #caption3,
#slide4:checked ~ .slider-panel .pic-captions .captions-track > #caption4,
#slide5:checked ~ .slider-panel .pic-captions .captions-track > #caption5 {
  order: -1;
	opacity: 1;
}

/* .slider-panel .pic-captions .captions-track */
